@media (max-width: 575.98px) {
    .image-container {
        max-width: 100%;
        height: 20%;
        background-image: url('./profilePhotoBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        .profile-photo {
            border: solid 5px #ffffff;
            border-radius: 100%;
            width: 120px;
            height: 120px;
            margin: auto;
            overflow: hidden;
            position: absolute;
            top: 24rem;
            left: 35%;
            box-shadow: -1px -1px 10px #00000011;

            img {
                width: 210px;
                margin-left: -37px;

            }
        }
        .user-details {
            width: 80%;
            height: 13%;
            margin: auto;
            position: absolute;
            padding: 20px;
            border-radius: 10px;
            top: 32rem;
            left: 5%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            p {
                width: 90%;
                margin: auto;
                font-size: 18px;
                color: #303030;
                font-weight: 700;
            }
            span{
                width: 90%;
                margin: auto;
                padding: 2px 0;
                font-size: 15px;
                font-weight: 500;
                color: #e6e6e6;
            }
        }
    }
    .password{           
        background-color: #fff;
        width: 90%;
        margin: auto;
        margin-top: 14rem;
        border-radius: 10px;
        box-shadow: -1px -1px 10px #00000010;
        padding: 10px;
        p{
            font-size: 16px;
            font-weight: 600;
            color: #e6e6e6;
            padding: 10px;
            width: 97%;
            border-bottom: solid 0.5px #e6e6e6;
        }
        .password-input{
            padding: 10px 20px;
            .input-group{
                display: flex;
                align-items: center;
                width: 100%;
                input{
                    outline: none;
                    padding: 10px;
                    margin: 10px 0;
                    width: 90%;
                    border: transparent ;
                    border-radius: 5px;
                    border-bottom: solid 1px #e6e6e6;
                }
                input:disabled{
                    background-color: #e6e6e6;
                }
                span{
                    font-size: 20px;
                    cursor: pointer;
                }
                span:hover{
                    color: blue;
                }
                button{
                    padding: 10px;
                    margin: 10px 0;
                    width: 20%;
                    border: none;
                    color: #fff;
                    border-radius: 10px;
                    background-color: var(--colorGreen);
                }
            }
            
        }
        
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .image-container {
        max-width: 100%;
        height: 20%;
        background-image: url('./profilePhotoBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        .profile-photo {
            border: solid 5px #ffffff;
            border-radius: 100%;
            width: 120px;
            height: 120px;
            margin: auto;
            overflow: hidden;
            position: absolute;
            top: 24rem;
            left: 35%;
            box-shadow: -1px -1px 10px #00000011;

            img {
                width: 210px;
                margin-left: -37px;

            }
        }
        .user-details {
            width: 80%;
            height: 13%;
            margin: auto;
            position: absolute;
            padding: 20px;
            border-radius: 10px;
            top: 32rem;
            left: 5%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            p {
                width: 90%;
                margin: auto;
                font-size: 18px;
                color: #303030;
                font-weight: 700;
            }
            span{
                width: 90%;
                margin: auto;
                padding: 2px 0;
                font-size: 15px;
                font-weight: 500;
                color: #e6e6e6;
            }
        }
    }
    .password{           
        background-color: #fff;
        width: 90%;
        margin: auto;
        margin-top: 14rem;
        border-radius: 10px;
        box-shadow: -1px -1px 10px #00000010;
        padding: 10px;
        p{
            font-size: 16px;
            font-weight: 600;
            color: #e6e6e6;
            padding: 10px;
            width: 97%;
            border-bottom: solid 0.5px #e6e6e6;
        }
        .password-input{
            padding: 10px 20px;
            .input-group{
                display: flex;
                align-items: center;
                width: 100%;
                input{
                    outline: none;
                    padding: 10px;
                    margin: 10px 0;
                    width: 90%;
                    border: transparent ;
                    border-radius: 5px;
                    border-bottom: solid 1px #e6e6e6;
                }
                input:disabled{
                    background-color: #e6e6e6;
                }
                span{
                    font-size: 20px;
                    cursor: pointer;
                }
                span:hover{
                    color: blue;
                }
                button{
                    padding: 10px;
                    margin: 10px 0;
                    width: 20%;
                    border: none;
                    color: #fff;
                    border-radius: 10px;
                    background-color: var(--colorGreen);
                }
            }
            
        }
        
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .image-container {
        max-width: 100%;
        height: 20%;
        background-image: url('./profilePhotoBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        .profile-photo {
            border: solid 5px #ffffff;
            border-radius: 100%;
            width: 150px;
            height: 150px;
            margin: auto;
            overflow: hidden;
            position: absolute;
            top: 28rem;
            left: 40%;
            box-shadow: -1px -1px 10px #00000011;

            img {
                width: 210px;
                margin-left: -37px;

            }
        }
        .user-details {
            width: 80%;
            height: 13%;
            margin: auto;
            position: absolute;
            padding: 20px;
            border-radius: 10px;
            top: 37rem;
            left: 8%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            p {
                width: 90%;
                margin: auto;
                font-size: 18px;
                color: #303030;
                font-weight: 700;
            }
            span{
                width: 90%;
                margin: auto;
                padding: 2px 0;
                font-size: 15px;
                font-weight: 500;
                color: #e6e6e6;
            }
        }
    }
    .password{           
        background-color: #fff;
        width: 70%;
        margin: auto;
        margin-top: 17rem;
        border-radius: 10px;
        box-shadow: -1px -1px 10px #00000010;
        padding: 10px;
        p{
            font-size: 16px;
            font-weight: 600;
            color: #e6e6e6;
            padding: 10px;
            width: 97%;
            border-bottom: solid 0.5px #e6e6e6;
        }
        .password-input{
            padding: 10px 20px;
            .input-group{
                display: flex;
                align-items: center;
                width: 100%;
                input{
                    outline: none;
                    padding: 10px;
                    margin: 10px 0;
                    width: 90%;
                    border: transparent ;
                    border-radius: 5px;
                    border-bottom: solid 1px #e6e6e6;
                }
                input:disabled{
                    background-color: #e6e6e6;
                }
                span{
                    font-size: 20px;
                    cursor: pointer;
                }
                span:hover{
                    color: blue;
                }
                button{
                    padding: 10px;
                    margin: 10px 0;
                    width: 20%;
                    border: none;
                    color: #fff;
                    border-radius: 10px;
                    background-color: var(--colorGreen);
                }
            }
            
        }
        
    }
 }

@media (min-width: 992px) and (max-width: 1199.98px) {
    .image-container {
        max-width: 100%;
        height: 150px;
        background-image: url('./profilePhotoBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;

        .profile-photo {
            border: solid 5px #ffffff;
            border-radius: 100%;
            width: 120px;
            height: 120px;
            margin: auto;
            overflow: hidden;
            position: absolute;
            top: 16rem;
            left: 15%;
            box-shadow: -1px -1px 10px #00000011;

            img {
                width: 210px;
                margin-left: -37px;

            }
        }
        .user-details {
            width: 60%;
            height: 13%;
            background-color: #fff;
            margin: auto;
            position: absolute;
            box-shadow: -1px -1px 10px #00000023;
            padding: 20px;
            border-radius: 10px;
            top: 19rem;
            left: 18%;
            display: flex;
            flex-direction: column;

            p {
                width: 69%;
                margin: auto;
                font-size: 18px;
                color: #303030;
                font-weight: 700;
            }
            span{
                width: 69%;
                margin: auto;
                padding: 2px 0;
                font-size: 15px;
                font-weight: 500;
                color: #e6e6e6;
            }
        }
    }
    .password{           
        background-color: #fff;
        width: 61%;
        margin: auto;
        margin-top: 8rem;
        border-radius: 10px;
        box-shadow: -1px -1px 10px #00000010;
        padding: 10px;
        p{
            font-size: 16px;
            font-weight: 600;
            color: #e6e6e6;
            padding: 10px;
            width: 97%;
            border-bottom: solid 0.5px #e6e6e6;
        }
        .password-input{
            padding: 10px 20px;
            .input-group{
                display: flex;
                align-items: center;
                input{
                    outline: none;
                    padding: 10px;
                    margin: 10px 0;
                    width: 50%;
                    border: transparent ;
                    border-radius: 5px;
                    border-bottom: solid 1px #e6e6e6;
                }
                input:disabled{
                    background-color: #e6e6e6;
                }
                span{
                    font-size: 20px;
                    cursor: pointer;
                }
                span:hover{
                    color: blue;
                }
                button{
                    padding: 10px;
                    margin: 10px 0;
                    width: 20%;
                    border: none;
                    color: #fff;
                    border-radius: 10px;
                    background-color: var(--colorGreen);
                }
            }
            
        }
        
    }
}

@media (min-width: 1200px) {
    .image-container {
        max-width: 100%;
        height: 150px;
        background-image: url('./profilePhotoBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;

        .profile-photo {
            border: solid 5px #ffffff;
            border-radius: 100%;
            width: 150px;
            height: 150px;
            margin: auto;
            overflow: hidden;
            position: absolute;
            top: 16rem;
            left: 15%;
            z-index: -0;
            box-shadow: -1px -1px 10px #00000011;

            img {
                width: 230px;
                margin-left: -30px;

            }
        }

        .user-details {
            width: 60%;
            height: 15%;
            background-color: #fff;
            margin: auto;
            position: absolute;
            box-shadow: -1px -1px 10px #00000023;
            padding: 20px;
            border-radius: 10px;
            top: 19rem;
            left: 14.5rem;
            display: flex;
            flex-direction: column;

            p {
                width: 69%;
                margin: auto;
                font-size: 18px;
                color: #303030;
                font-weight: 700;
            }
            span{
                width: 69%;
                margin: auto;
                padding: 3px 0;
                font-size: 15px;
                font-weight: 500;
                color: #e6e6e6;
            }
        }
        
    }
    .password{           
        background-color: #fff;
        width: 61%;
        margin: auto;
        margin-top: 10rem;
        border-radius: 10px;
        box-shadow: -1px -1px 10px #00000010;
        padding: 10px;
        p{
            font-size: 16px;
            font-weight: 600;
            color: #e6e6e6;
            padding: 10px;
            width: 97%;
            border-bottom: solid 0.5px #e6e6e6;
        }
        .password-input{
            padding: 10px 20px;
            .input-group{
                display: flex;
                align-items: center;
                input{
                    outline: none;
                    padding: 10px;
                    margin: 10px 0;
                    width: 50%;
                    border: transparent ;
                    border-radius: 5px;
                    border-bottom: solid 1px #e6e6e6;
                }
                input:disabled{
                    background-color: #e6e6e6;
                }
                span{
                    font-size: 20px;
                    cursor: pointer;
                }
                span:hover{
                    color: blue;
                }
                button{
                    padding: 10px;
                    margin: 10px 0;
                    width: 20%;
                    border: none;
                    color: #fff;
                    border-radius: 10px;
                    background-color: var(--colorGreen);
                }
            }
            
        }
        
    }
}